// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  font: $font-reg 100% / 1.4 $text-font;
  -webkit-font-smoothing: antialiased;
}

pre {
	font-family: $code-font;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: 2rem;
}
h2, h3 {
  margin-bottom: 1rem;
}

h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

img {
  max-width: 100%;
}

p:last-child {
  margin-bottom: 0;
}

/* Columns */

[class^="col-"] .content {
  padding: 3rem;
}

[class^="col-"].background-img {
  background-size: cover;
  background-position: center;
}