.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 40px;
	color: #fff;
	background-color: $dark-grey;

	.logo {
		float: left;
	}
	.main-menu {
		float: right;

		ul {
			float: left;
			list-style: none;
			float: left;
			padding-left: 0;

			li {
				float: left;
			}
		}
		ul li a {
			color: #fff;
			text-decoration: none;

			&:hover {
			}
		}
	}
}