/// Fonts

$text-font: 'Roboto', sans-serif !default;
$code-font: 'Courier New', 'Monaco', monospace !default;

$font-thin: 300!default;
$font-reg: 500!default;
$font-bold: 700!default;


/// Colours

$text-color: rgb(34, 34, 34) !default;

$brand-color: rgb(229, 0, 80) !default;

$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: #222 !default;

/// Spacing

$spc: 30px!default;
$spc-h: 15px!default;
$spc-d: 60px!default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
