.parallax-container {
    height: 500px;
    width: 100%;
}

.parallax-window {
	min-height: 500px;
    background: transparent;
    
    .content {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: #fff;

        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 3em;
        }
    }
}

.section-images {
    padding: 3rem 0;

    figure {
        margin: 0;
    }

    .content {
        background-color: #f2f2f2;
    }
}